#dialog {
    width: 85%;
    max-width: 75;
    height: 32;
}

#dialog.-auto {
    height: auto;
}

#dialog.-compact {
    height: 20;
}

#dialog.-compact .logo {
    display: none;
}

#dialog.-compact .input-row {
    margin-top: 1;
}

#dialog.-compact #history_list {
    margin-bottom: 1;
}

#bookmark_list,
#history_list {
    min-height: 3;
    max-height: 6;
    width: 100%;
    border: round $primary;
    margin-top: 0;
    background: transparent;
    padding: 0;
    border-title-align: left;
    border-title-color: $primary;
}

#history_list {
    margin-top: 0;
    margin-bottom: 2;
}

#bookmark_list:focus,
#history_list:focus {
    border: round $accent;
    outline: none;
    background: transparent;
    border-title-color: $accent;
}

ListItem {
    padding: 0 2;
    background: $surface;
    height: auto;
}

ListItem > Horizontal {
    height: auto;
    width: 100%;
}

.col {
    width: 1fr;
    padding-right: 1;
}

.col-url {
    width: 1fr;
    padding-right: 1;
}

.col-date {
    width: 1fr;
    padding-right: 1;
}

ListItem.-highlight {
    background: $secondary;
    text-style: bold;
}

#server_url_input {
    width: 4fr;
    height: 3;
}

#server_url_input > .input--placeholder {
    text-style: italic;
}

#connect_btn {
    width: 1fr;
    margin-left: 1;
    height: 3;
    border: round $secondary;
    background: transparent;
    color: $secondary;
}

#connect_btn:focus {
    border: round $accent;
    background: transparent;
    background-tint: transparent 0%;
    text-style: bold;
    color: $accent;
}

.input-row {
    height: auto;
    width: 100%;
    margin-top: 3;
    margin-bottom: 1;
}
