ConnectingScreen {
    align: center middle;
}

#connecting-dialog {
    width: 64;
    height: auto;
    padding: 1 4;
    align: center middle;
}

#connecting-dialog .logo {
    width: 100%;
    height: auto;
    color: $foreground;
    content-align: center middle;
    margin-bottom: 2;
}

#connecting-dialog #connect_spinner {
    width: 100%;
    text-align: center;
    color: $text-muted;
}

#connecting-dialog #connect_progress {
    width: 100%;
    text-align: center;
    color: $text-muted;
}
