SocialButtonSmall {
    width: 1fr;
    height: 3;
    border: round $secondary;
    background: transparent;
    color: $secondary;
    padding: 0;
    align: center middle;
    border-title-align: center;
    border-title-color: $secondary;
}

SocialButtonSmall:focus {
    border: round $accent;
    color: $accent;
    border-title-color: $accent;
}

SocialButtonSmall .-social-icon {
    width: 2;
    height: 1;
}
