HomeScreen {
    background: $surface;
    align: left top;
}

HomeScreen > Horizontal {
    width: 100%;
    height: 1fr;
}

HomeScreen ContentSwitcher#content {
    width: 1fr;
    height: 1fr;
    padding: 1 2;
    background: transparent;
}
