ListActionMenu {
    align: left top;
    background: transparent;
}

#action-menu-dialog {
    width: auto;
    min-width: 22;
    height: auto;
    background: $surface;
    border: round $primary;
    padding: 0;
}

#action-menu {
    width: 100%;
    min-width: 20;
    height: auto;
    background: transparent;
    border: none;
}
