SocialLoginModal {
    align: center middle;
    background: black 60%;
}

#social-modal-dialog {
    width: 60%;
    max-width: 60;
    height: auto;
    max-height: 80%;
    background: $surface;
    border: round mediumpurple;
    padding: 1 2;
}

.modal-title {
    text-align: center;
    text-style: bold;
    color: $accent;
    margin-bottom: 1;
    width: 100%;
}

SocialButton {
    margin-bottom: 1;
}
